
<div class="container">
     <div class="upperData">
        <img src="https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" srcset="" class="upperDataImage">
        <div class="weatherData">
          <div class="location">{{weatherData?.location?.name}}</div>
          <div class="temperature">
            <span>{{weatherData?.current?.condition?.text}}</span>
            <img src={{weatherData?.current?.condition?.icon}} alt="" srcset="" style="width:80px; height:60px">
          </div>
        </div>
     </div>
     <div class="lowerData">
         <div class="moreInfoLabel">
          More information
         </div>
         <div class="moreInfoContainer">
             <div class="infoBlock">
                   <div class="infoBlockLabel">
                    <i class="fa fa-thermometer-quarter fa-4x" aria-hidden="true" style="color:blue"></i>
                      <span>Degrees</span>
                   </div>
                   <div class="infoBlockValue">
                      {{weatherData?.current?.temp_c}}°c
                   </div>
                </div>
                   <div class="infoBlock">
                    <div class="infoBlockLabel">
                      <i class="fa fa-thermometer-three-quarters fa-4x" aria-hidden="true" style="color:red"></i>
                       <span>Farenheit</span>
                    </div>
                    <div class="infoBlockValue">
                       {{weatherData?.current?.temp_f}}F
                    </div>
              </div>

              <div class="infoBlock">
                <div class="infoBlockLabel">
                  <i class="fa fa-tint fa-4x" aria-hidden="true" style="color:rgb(72, 145, 206)"></i>
                   <span>Humidity</span>
                </div>
                <div class="infoBlockValue">
                    {{weatherData?.current?.humidity}}%
                </div>
          </div>
          <div class="infoBlock">
            <div class="infoBlockLabel">
              <video autoplay muted class="image">
                <source src="https://cdnl.iconscout.com/lottie/premium/thumb/wind-turbine-5612447-4672521.mp4" type="video/mp4">
              </video>
               <span>Wind</span>
            </div>
            <div class="infoBlockValue">
               {{weatherData?.current?.wind_kph}}km/h
            </div>
      </div> 

        
         </div>
     </div>
</div>

<router-outlet></router-outlet>


<!-- maximum temp: https://media.istockphoto.com/photos/blank-template-of-celsius-and-fahrenheit-thermometer-on-red-with-picture-id1218339860?b=1&k=20&m=1218339860&s=612x612&w=0&h=lYloETl9gGERGTbA9C9JyOXDouW7JspL36dA5zMW5d0= -->