
<div class="container">
     <div class="upperData">
        <img src="https://images.unsplash.com/photo-1615537510721-bcb43bef66fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fHN1bW1lcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" srcset="" *ngIf="">
        <img src="https://media.istockphoto.com/photos/cold-weather-ahead-road-warning-sign-picture-id477839825?b=1&k=20&m=477839825&s=170667a&w=0&h=-wfVuEzZunhdCv627HXV_WboGdbESwa3rRj9tCAAkT4=" alt="" srcset="" *ngIf="">
     </div>
     <div class="lowerData"></div>
</div>

<router-outlet></router-outlet>
